.document-icon {
    background: transparent;
    background-image: url(./file-alt.svg);
    background-size: 2rem 2rem;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: center;
}
