{
  "presets": [
    [
      "@babel/preset-env",
      {
        "targets": {
          "node": "8",
          "browsers": "> 0.2%"
        }
      }
    ],
    "@babel/preset-flow",
    "@babel/preset-react"
  ],
  "plugins": [
    "@babel/plugin-transform-flow-strip-types",
    "@babel/plugin-syntax-flow",
    ["@babel/plugin-proposal-decorators", {"legacy": true}],
    ["@babel/plugin-proposal-class-properties", {"loose": true}],
    "@babel/plugin-proposal-object-rest-spread",
    "@babel/plugin-transform-runtime",
    "syntax-trailing-function-commas"
  ]
}
