{
  "require": ["@babel/register"],
  "sourceMap": false,
  "instrument": false,
  "reporter": ["lcov", "text"],
  "exclude": [
    "./test-helper.js",
    "node_modules",
    "public",
    "stories",
    "dist",
    "test"
  ]
}
