.bg-gradient {
    background-color: #c4c4c4; /* For browsers that do not support gradients */
    background-image: linear-gradient(#fff, #fff, #eaeef0);
}

.f2 {
    font-size: 4rem !Important;
    line-height: 3rem;
}
