.filter-closed {
    background: transparent;
    background-image: url(./angle-double-down.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: center;
}
.filter-open {
    background: transparent;
    background-image: url(./angle-double-up.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: 10px;
    background-position-x: center;
}
