span.search_bar {
  position: relative;
  display: inline-block;
}

input.search_bar {
  color: rgb(236, 236, 236);
  background: transparent;
  background-image: url(./search.svg);
  background-size: 16px 16px;
  background-repeat: no-repeat;
  background-position-y: center;
  background-position-x: 5px;
  appearance: none;
}

input.search_bar:focus {
  background-color: #555;
  outline: 0;
}
