@import "../../client.css";

.nav-link-active {
    border-color: var(--primary-color);
    border-width: 0.2rem;
    border-bottom-style: dotted;
}

.hover-nav-link:focus,
.hover-nav-link:hover {
    border-color: var(--primary-color);
    border-width: 0.2rem;
    border-bottom-style: dotted;
}

.f6 {font-size: .7rem;}

.logo img  {  max-height: 2.5rem;}

h2 {margin: 0}
