.leaflet-popup-content {
  width: auto !important;
  margin: 0;
}

.marker-popup {
  min-width: 550px;
}

.marker-popup::after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
  clear: both;
}

.marker-popup .marker-popup-title {
  border-radius: 12px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
  font-size: 18px;
}
