input.search-bar {
    background: transparent;
    background: url(./search.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 98%;
}
