input.search-bar {
    background: transparent;
    background: url(./search.svg);
    background-size: 20px 20px;
    background-repeat: no-repeat;
    background-position-y: center;
    background-position-x: 98%;
}

.vh {height: 100vh}

.primary-color {
    color: rgba(35, 87, 137, 1.0);
}
