:root {
    --primary-color: rgba(35, 87, 137, 1.0); /* #235789 */
    --primary-color-hover: rgba(35, 87, 137, 0.4); /* #235789 */
    --accentuated-color: rgba(255, 237, 0, 1); /* #FFED00 */
}

.primary-color { color: var(--primary-color); }
.bg-primary-color { background-color: var(--primary-color); }
.b--primary-color { border-color: var(--primary-color); }
.accentuated-color { color: var(--accentuated-color); }
.bg-accentuated-color { border-color: var(--accentuated-color); }
.b--accentuated-color { border-color: var(--accentuated-color); }
.bg-gradient {
    background-color: #c4c4c4; /* For browsers that do not support gradients */
    background-image: linear-gradient(#fff, #fff, #eaeef0);
}

em {
    background-color: var(--accentuated-color);
}

button, input {
    border: none !important;
}

button:focus, input:focus {
    outline: none !important;
}

input[type="search"]::-ms-clear {
    display: none;
    width : 0;
    height: 0;
}
input[type="search"]::-ms-reveal {
    display: none;
    width : 0;
    height: 0;
}
input[type="search"]::-webkit-search-decoration,
input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-results-button,
input[type="search"]::-webkit-search-results-decoration { display: none; }
